.App {
  text-align: center;
  width: 450px;  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.image {
  width: 83px; 
  height: 83px; 
  margin-left: 4px; 
}

.flipped { 
  width: 83px; 
  height: 83px; 
  background-color: #D85564;
  margin-left: 4px; 
}

h1 { 
  font-family: 'Monda', sans-serif;
  font-size: 40px; 
}